# Task 4.6

This script includes the following:
1) Import the data
2) Check the output of the new dataframe (df_ords_combined)
3) Merge df_prods_prep with df_ords_combined dataframes
4) Confirm the results of the merge using the merge flag
5) Export the file

In [4]:
# Step 3 - In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved

In [5]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [6]:
# Importing orders data - using os library
path = r'C:\Users\35196\Documents\Alexandra\Data Analytics Program\02 Immersion\4. Python Fundamentals for Data Analysts\Instacart Basket Analysis'

df_ords_combined=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods_prep = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
# Step 4 - Check the shape of the imported dataframe

In [8]:
df_ords_combined.shape

(32434489, 12)

In [9]:
df_prods_prep.shape

(49672, 6)

In [10]:
# Step 5 - Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [11]:
df_prods_prep.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_ords_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [13]:
# Let's drop the _merge column since this column is from the previous merge
df_ords_combined = df_ords_combined.drop(['_merge'], axis=1)

In [14]:
df_ords_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,prior,1,2,8,NaN,196,1,0
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0

In [17]:
# order_id is the key variable to merge the order_product_combined with products dataframe
df_merged_order = df_ords_combined.merge(df_prods_prep, on = 'product_id', indicator = True)

In [20]:
# Step 6 - Confirm the results of the merge using the merge flag

In [21]:
df_merged_order['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [22]:
# Step 7 - Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size)
# Let's use the pickle formmat
df_merged_order.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))